{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title %}
    Home
{% endblock %}

{% block content %}
	<!-- start intro-holder -->
	<div id="intro-holder">
		<div class="intro-box large">
			<div class="welcome-box">
				<div id="intro-slider">
					<ul class="pagination">
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
					</ul>
					<div class="container">
						<ul class="slides">
							<li><a href="#"><img src="images/img.png" alt="image description" width="486" height="284" /></a></li>
							<li><a href="#"><img src="images/img.png" alt="image description" width="486" height="284" /></a></li>
							<li><a href="#"><img src="images/img.png" alt="image description" width="486" height="284" /></a></li>
							<li><a href="#"><img src="images/img.png" alt="image description" width="486" height="284" /></a></li>
							<li><a href="#"><img src="images/img.png" alt="image description" width="486" height="284" /></a></li>
						</ul>
					</div>
					<div class="stick">PSD template</div>
					<div class="hotspot"></div>
				</div>
				<div class="text-box">
					<h2>Welcome to Synoptic premium PSD template!</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient monte. Fusce porttitor, diam id accumsan porta, enim sem varius nunc, eu tincidunt metus eros ut leo. Cum sociis natoque penatibus et magnis dis parturient monte.</p>
					<ul class="bulleted-list">
						<li>Pellentesque fermentum neque vel nisl auctor eget vehicula</li>
						<li>Nam eget arcu ac massa volutpat lobortis</li>
						<li>Cum sociis natoque penatibus et</li>
						<li>Fusce porttitor, diam id accumsan porta!</li>
					</ul>
					<div class="wrap">
						<a href="#" class="more">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end intro-holder -->
	<!-- start promo-box -->
	<div class="promo-wrap">
		<div class="promo-box">
			<div class="promo-holder">
				<strong class="promo-text">Konnichiwa &amp; Welcome! You don't know how it work?</strong>
				<a href="#steps-slider" class="btn-take ancLinks">Take a tour right now!</a>
			</div>
		</div>
	</div>
	<!-- end promo-box -->
	<div id="steps-slider">
		<div class="steps-holder">
			<ul class="pagination">
				<li class="active">
					<a href="#">
						<strong class="title title01">Start</strong>
						<span>Pellentesque fermentum neque vel nisl auctor eget tincidunt mi.</span>
					</a>
				</li>
				<li>
					<a href="#">
						<strong class="title title02">Step 2</strong>
						<span>Cum sociis natoque penatibus et magnis dis parturient montes.</span>
					</a>
				</li>
				<li>
					<a href="#">
						<strong class="title title03">Step 3</strong>
						<span>Fusce porttitor, diam id accumsan porta, enim sem varius.</span>
					</a>
				</li>
				<li>
					<a href="#">
						<strong class="title title04">Finish!</strong>
						<span>Pellentesque fermentum neque vel nisl auctor eget tincidunt.</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="controls">
			<a href="#" class="previous">previous</a>
			<a href="#" class="next">next</a>
		</div>
		<div class="slide-holder">
			<div class="container">
				<ul class="slides">
					<li>
						<div class="image">
							<img class="large" src="images/bg-image02.gif" alt="image description" width="275" height="307" />
						</div>
						<div class="text-box">
							<h2>Synoptic is premium PSD template!</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed condimentum turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultrices condimentum vestibulum. Phasellus dictum, dolor et gravida tempor, ante enim eleifend erat, id ullamcorper eros augue in metus. </p>
							<p>Sed fringilla dui id ante volutpat ut pellentesque lacus semper. Duis laoreet congue consectetur. Aliquam volutpat scelerisque dui ac fringilla. Praesent et volutpat urna. Sed ipsum dolor, dapibus a ultrices a, pellentesque eget metus. Vestibulum eu nisl sed massa sodales mollis. </p>
							<p>Morbi posuere, mauris at tempor semper, ligula sem scelerisque turpis, ac interdum orci urna sit amet enim. Morbi posuere ultricies dapibus. Nam eget turpis in mi consequat aliquet. Phasellus a felis libero, non aliquet lorem. Praesent accumsan magna nec ipsum euismod et tempus neque auctor.</p>
							<a href="#" class="more">Read more…</a>
						</div>
					</li>
					<li>
						<div class="text-box">
							<h2>Synoptic is premium PSD template!</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed condimentum turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultrices condimentum vestibulum. Phasellus dictum, dolor et gravida tempor, ante enim eleifend erat, id ullamcorper eros augue in metus. </p>
							<p>Sed fringilla dui id ante volutpat ut pellentesque lacus semper. Duis laoreet congue consectetur. Aliquam volutpat scelerisque dui ac fringilla. Praesent et volutpat urna. Sed ipsum dolor, dapibus a ultrices a, pellentesque eget metus. Vestibulum eu nisl sed massa sodales mollis. </p>
							<p>Morbi posuere, mauris at tempor semper, ligula sem scelerisque turpis, ac interdum orci urna sit amet enim. Morbi posuere ultricies dapibus. Nam eget turpis in mi consequat aliquet. Phasellus a felis libero, non aliquet lorem. Praesent accumsan magna nec ipsum euismod et tempus neque auctor.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed condimentum turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultrices condimentum vestibulum. Phasellus dictum, dolor et gravida tempor, ante enim eleifend erat, id ullamcorper eros augue in metus. </p>
							<p>Sed fringilla dui id ante volutpat ut pellentesque lacus semper. Duis laoreet congue consectetur. Aliquam volutpat scelerisque dui ac fringilla. Praesent et volutpat urna. Sed ipsum dolor, dapibus a ultrices a, pellentesque eget metus. Vestibulum eu nisl sed massa sodales mollis. </p>
							<p>Morbi posuere, mauris at tempor semper, ligula sem scelerisque turpis, ac interdum orci urna sit amet enim. Morbi posuere ultricies dapibus. Nam eget turpis in mi consequat aliquet. Phasellus a felis libero, non aliquet lorem. Praesent accumsan magna nec ipsum euismod et tempus neque auctor.</p>
							<a href="#" class="more">Read more…</a>
						</div>
					</li>
					<li>
						<div class="image-left">
							<img class="large" src="images/bg-image02.gif" alt="image description" width="275" height="307" />
						</div>
						<div class="text-box">
							<h2>Synoptic is premium PSD template!</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed condimentum turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultrices condimentum vestibulum. Phasellus dictum, dolor et gravida tempor, ante enim eleifend erat, id ullamcorper eros augue in metus. </p>
							<p>Sed fringilla dui id ante volutpat ut pellentesque lacus semper. Duis laoreet congue consectetur. Aliquam volutpat scelerisque dui ac fringilla. Praesent et volutpat urna. Sed ipsum dolor, dapibus a ultrices a, pellentesque eget metus. Vestibulum eu nisl sed massa sodales mollis. </p>
							<p>Morbi posuere, mauris at tempor semper, ligula sem scelerisque turpis, ac interdum orci urna sit amet enim. Morbi posuere ultricies dapibus. Nam eget turpis in mi consequat aliquet. Phasellus a felis libero, non aliquet lorem. Praesent accumsan magna nec ipsum euismod et tempus neque auctor.</p>
							<a href="#" class="more">Read more…</a>
						</div>
					</li>
					<li>
						<div class="image">
							<img class="large" src="images/bg-image02.gif" alt="image description" width="275" height="307" />
						</div>
						<div class="text-box">
							<h2>Synoptic is premium PSD template!</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed condimentum turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultrices condimentum vestibulum. Phasellus dictum, dolor et gravida tempor, ante enim eleifend erat, id ullamcorper eros augue in metus. </p>
							<p>Sed fringilla dui id ante volutpat ut pellentesque lacus semper. Duis laoreet congue consectetur. Aliquam volutpat scelerisque dui ac fringilla. Praesent et volutpat urna. Sed ipsum dolor, dapibus a ultrices a, pellentesque eget metus. Vestibulum eu nisl sed massa sodales mollis. </p>
							<p>Morbi posuere, mauris at tempor semper, ligula sem scelerisque turpis, ac interdum orci urna sit amet enim. Morbi posuere ultricies dapibus. Nam eget turpis in mi consequat aliquet. Phasellus a felis libero, non aliquet lorem. Praesent accumsan magna nec ipsum euismod et tempus neque auctor.</p>
							<a href="#" class="more">Read more…</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- start main -->
	<div id="main">
		<div class="popular-holder">
			<div class="title-box">
				<div class="category-holder slide-block">
					<a href="#" class="open-close">Select Market Category</a>
					<div class="block">
						<div class="category-c">
							<ul class="category-list">
								<li><a href="#">Print</a></li>
								<li><a href="#">3D Graphic</a></li>
								<li><a href="#">Photography</a></li>
								<li><a href="#">Vector Graphic</a></li>
								<li><a href="#">Brochures</a></li>
								<li><a href="#">Photo Retouching</a></li>
								<li><a href="#">Typography</a></li>
							</ul>
							<a href="categories.html" class="all-categories">All Categories...</a>
						</div>
						<div class="category-b"></div>
					</div>
				</div>
				<h2>Popular Items</h2>
			</div>
			<ul class="gallery">
                {% for item in items %}
				<li>
					<h3><a href="../market-single/">{{ item.item_name }}</a></h3>
					<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
					<div class="product-holder">
						<div class="image">
							<a href="#"><img class="large" src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
						</div>
						<div class="wrap">
							<span class="price">Price: ${{ item.item_price }}</span>
							<ul class="stars">
								<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
								<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
								<li><a href="#"><img src="images/star02.gif" alt="image description" width="15" height="15" /></a></li>
								<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
								<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
							</ul>
						</div>
						<div class="stick">
							<img src="images/stick-green.png" alt="image description" width="82" height="82" />
						</div>
						<div class="hotspot"></div>
					</div>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>
	<!-- end main -->

{% endblock %}