{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title %}
    Market
{% endblock %}

{% block content %}
	<!-- start main -->
	<div id="main">
		<div class="heading-box">
			<h2>Market</h2>
			<div class="category-holder slide-block">
				<a href="#" class="open-close">Select Market Category</a>
				<div class="block">
					<div class="category-c">
						<ul class="category-list">
							<li><a href="#">Print</a></li>
							<li><a href="#">3D Graphic</a></li>
							<li><a href="#">Photography</a></li>
							<li><a href="#">Vector Graphic</a></li>
							<li><a href="#">Brochures</a></li>
							<li><a href="#">Photo Retouching</a></li>
							<li><a href="#">Typography</a></li>
						</ul>
						<a href="categories.html" class="all-categories">All Categories...</a>
					</div>
					<div class="category-b"></div>
				</div>
			</div>
			<div class="text-box">
				<p>Pellentesque fermentum neque vel nisl auctor eget tincidunt mi vehicula.</p>
			</div>
		</div>
		<div class="breadcrumbs-holder">
			<ul class="breadcrumbs">
				<li><a href="index.html">Home</a></li>
				<li><span>Market</span></li>
			</ul>
			<div class="breadcrumbs-r"></div>
		</div>
		<div id="twocolumns">
			<div id="content">
				<div class="title-holder">
					<h2>Print Category</h2>
					<div class="btn-holder">
						<a href="#" class="top">top</a>
						<div class="classify-holder slide-block">
							<a href="#" class="open-close">Classify by</a>
							<div class="block">
								<div class="classify-c">
									<ul class="classify-list">
										<li><a href="#">Date</a></li>
										<li><a href="#">Title</a></li>
										<li><a href="#">Categoryy</a></li>
										<li><a href="#">Rating</a></li>
										<li><a href="#">Price</a></li>
									</ul>
								</div>
								<div class="classify-b"></div>
							</div>
						</div>
					</div>
				</div>
				<ul class="gallery">
					<li>
						<h3><a href="market-single.html">Kraken Design Business...</a></h3>
						<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
						<div class="product-holder">
							<div class="image">
								<a href="#"><img class="large" src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
							</div>
							<div class="wrap">
								<span class="price">Price: $20.20</span>
								<ul class="stars">
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star02.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
								</ul>
							</div>
							<div class="stick">
								<img src="images/stick-green.png" alt="image description" width="82" height="82" />
							</div>
							<div class="hotspot"></div>
						</div>
					</li><li>
						<h3><a href="market-single.html">Radioscope</a></h3>
						<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
						<div class="product-holder">
							<div class="image">
								<a href="#"><img class="large" src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
							</div>
							<div class="wrap">
								<span class="price">Price: $8.80</span>
								<ul class="stars">
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
								</ul>
							</div>
							<div class="stick">
								<img src="images/stick-violet.png" alt="image description" width="82" height="82" />
							</div>
							<div class="hotspot"></div>
						</div>
					</li><li>
						<h3><a href="market-single.html">Vonnda Business Cards</a></h3>
						<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
						<div class="product-holder">
							<div class="image">
								<a href="#"><img class="large" src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
							</div>
							<div class="wrap">
								<span class="price">Price: $29.00</span>
								<ul class="stars">
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
								</ul>
							</div>
							<div class="hotspot"></div>
						</div>
					</li><li>
						<h3><a href="market-single.html">MSTRPLN&reg; Business Car...</a></h3>
						<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
						<div class="product-holder">
							<div class="image">
								<a href="#"><img class="large" src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
							</div>
							<div class="wrap">
								<span class="price">Price: $10.00</span>
								<ul class="stars">
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
								</ul>
							</div>
							<div class="stick">
								<img src="images/stick-blue.png" alt="image description" width="82" height="82" />
							</div>
							<div class="hotspot"></div>
						</div>
					</li><li>
						<h3><a href="market-single.html">Owen Jones Design</a></h3>
						<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
						<div class="product-holder">
							<div class="image">
								<a href="#"><img class="large" src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
							</div>
							<div class="wrap">
								<span class="price">Price: $20.20</span>
								<ul class="stars">
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star02.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
								</ul>
							</div>
							<div class="stick">
								<img src="images/stick-green.png" alt="image description" width="82" height="82" />
							</div>
							<div class="hotspot"></div>
						</div>
					</li><li>
						<h3><a href="market-single.html">Sdc. Business Cards</a></h3>
						<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
						<div class="product-holder">
							<div class="image">
								<a href="#"><img class="large" src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
							</div>
							<div class="wrap">
								<span class="price">Price: $8.80</span>
								<ul class="stars">
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
								</ul>
							</div>
							<div class="hotspot"></div>
						</div>
					</li><li>
						<h3><a href="market-single.html">Chrystiandesign</a></h3>
						<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
						<div class="product-holder">
							<div class="image">
								<a href="#"><img class="large" src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
							</div>
							<div class="wrap">
								<span class="price">Price: $29.00</span>
								<ul class="stars">
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
								</ul>
							</div>
							<div class="stick">
								<img src="images/stick-orange.png" alt="image description" width="82" height="82" />
							</div>
							<div class="hotspot"></div>
						</div>
					</li><li>
						<h3><a href="market-single.html">14 Boutique</a></h3>
						<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
						<div class="product-holder">
							<div class="image">
								<a href="#"><img class="large" src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
							</div>
							<div class="wrap">
								<span class="price">Price: $10.00</span>
								<ul class="stars">
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
								</ul>
							</div>
							<div class="stick">
								<img src="images/stick-blue.png" alt="image description" width="82" height="82" />
							</div>
							<div class="hotspot"></div>
						</div>
					</li><li>
						<h3><a href="market-single.html">Radioscope</a></h3>
						<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
						<div class="product-holder">
							<div class="image">
								<a href="#"><img class="large" src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
							</div>
							<div class="wrap">
								<span class="price">Price: $8.80</span>
								<ul class="stars">
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
									<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
								</ul>
							</div>
							<div class="hotspot"></div>
						</div>
					</li>
				</ul>
				<ul class="paging">
					<li class="start">
						<a href="#">start</a>
					</li><li class="prev">
						<a href="#">prev</a>
					</li><li>
						<a href="#">1</a>
					</li><li class="active">
						<a href="#">2</a>
					</li><li>
						<a href="#">3</a>
					</li><li class="next">
						<a href="#">next</a>
					</li><li class="end">
						<a href="#">end</a>
					</li>
				</ul>
			</div>
			<div id="sidebar">
				<h2>Recent Views</h2>
				<div class="side-box">
					<div class="side-holder">
						<div class="side-frame">
							<ul class="view-list">
								<li class="bubbleInfo">
									<a href="#" class="trigger"></a>
									<div class="popup">
										<h3><a href="market-single.html">14 Boutique</a></h3>
										<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
										<div class="product-holder">
											<div class="image">
												<a href="#"><img src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
												<div class="wrap">
													<span class="price">Price: $8.80</span>
													<ul class="stars">
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="bubbleInfo">
									<a href="#" class="trigger"></a>
									<div class="popup">
										<h3><a href="market-single.html">14 Boutique</a></h3>
										<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
										<div class="product-holder">
											<div class="image">
												<a href="#"><img src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
												<div class="wrap">
													<span class="price">Price: $8.80</span>
													<ul class="stars">
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="bubbleInfo">
									<a href="#" class="trigger"></a>
									<div class="popup">
										<h3><a href="market-single.html">14 Boutique</a></h3>
										<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
										<div class="product-holder">
											<div class="image">
												<a href="#"><img src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
												<div class="wrap">
													<span class="price">Price: $8.80</span>
													<ul class="stars">
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="bubbleInfo">
									<a href="#" class="trigger"></a>
									<div class="popup">
										<h3><a href="market-single.html">14 Boutique</a></h3>
										<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
										<div class="product-holder">
											<div class="image">
												<a href="#"><img src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
												<div class="wrap">
													<span class="price">Price: $8.80</span>
													<ul class="stars">
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<h3>Top Purchases</h3>
				<div class="side-box">
					<div class="side-holder">
						<div class="side-frame">
							<ul class="view-list">
								<li class="bubbleInfo">
									<a href="#" class="trigger"></a>
									<div class="popup">
										<h3><a href="market-single.html">14 Boutique</a></h3>
										<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
										<div class="product-holder">
											<div class="image">
												<a href="#"><img src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
												<div class="wrap">
													<span class="price">Price: $8.80</span>
													<ul class="stars">
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="bubbleInfo">
									<a href="#" class="trigger"></a>
									<div class="popup">
										<h3><a href="market-single.html">14 Boutique</a></h3>
										<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
										<div class="product-holder">
											<div class="image">
												<a href="#"><img src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
												<div class="wrap">
													<span class="price">Price: $8.80</span>
													<ul class="stars">
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="bubbleInfo">
									<a href="#" class="trigger"></a>
									<div class="popup">
										<h3><a href="market-single.html">14 Boutique</a></h3>
										<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
										<div class="product-holder">
											<div class="image">
												<a href="#"><img src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
												<div class="wrap">
													<span class="price">Price: $8.80</span>
													<ul class="stars">
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="bubbleInfo">
									<a href="#" class="trigger"></a>
									<div class="popup">
										<h3><a href="market-single.html">14 Boutique</a></h3>
										<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
										<div class="product-holder">
											<div class="image">
												<a href="#"><img src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
												<div class="wrap">
													<span class="price">Price: $8.80</span>
													<ul class="stars">
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="bubbleInfo">
									<a href="#" class="trigger"></a>
									<div class="popup">
										<h3><a href="market-single.html">14 Boutique</a></h3>
										<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
										<div class="product-holder">
											<div class="image">
												<a href="#"><img src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
												<div class="wrap">
													<span class="price">Price: $8.80</span>
													<ul class="stars">
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="bubbleInfo">
									<a href="#" class="trigger"></a>
									<div class="popup">
										<h3><a href="market-single.html">14 Boutique</a></h3>
										<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
										<div class="product-holder">
											<div class="image">
												<a href="#"><img src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
												<div class="wrap">
													<span class="price">Price: $8.80</span>
													<ul class="stars">
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="bubbleInfo">
									<a href="#" class="trigger"></a>
									<div class="popup">
										<h3><a href="market-single.html">14 Boutique</a></h3>
										<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
										<div class="product-holder">
											<div class="image">
												<a href="#"><img src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
												<div class="wrap">
													<span class="price">Price: $8.80</span>
													<ul class="stars">
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="bubbleInfo">
									<a href="#" class="trigger"></a>
									<div class="popup">
										<h3><a href="market-single.html">14 Boutique</a></h3>
										<span class="sub-title"><a href="#">Print</a> / <a href="#">Business Card</a></span>
										<div class="product-holder">
											<div class="image">
												<a href="#"><img src="images/bg-image03.jpg" alt="image description" width="180" height="91" /></a>
												<div class="wrap">
													<span class="price">Price: $8.80</span>
													<ul class="stars">
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star.gif" alt="image description" width="15" height="15" /></a></li>
														<li><a href="#"><img src="images/star03.gif" alt="image description" width="15" height="15" /></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}