{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title %}
    About
{% endblock %}

{% block content %}
    	<div id="main">
		<div class="heading-box">
			<h2>About</h2>
			<div class="text-box">
				<p>Pellentesque fermentum neque vel nisl auctor eget tincidunt mi vehicula.</p>
			</div>
		</div>
		<div class="breadcrumbs-holder">
			<ul class="breadcrumbs">
				<li><a href="base.html">Home</a></li>
				<li><span>About</span></li>
			</ul>
			<div class="breadcrumbs-r"></div>
		</div>
		<div class="post-box box-type">
			<h2>This is Synoptic PSD template!</h2>
			<div class="wrap">
				<div class="image-left">
					<img class="large" src="{% static 'shop/images/bg-image05.png'%}" alt="image description" width="254" height="141" />
					<a href="{% static 'shop/images/img04.jpg'%}" rel="lightbox[roadtrip]" class="zoom">zoom</a>
					<div class="hotspot"></div>
				</div>
				<div class="text-box">
					<p>Cras viverra vulputate accumsan. Curabitur euismod lobortis nisi eget tempor. Integer elit quam, commodo et rutrum non, faucibus sed nisi. In placerat tempor tellus eu dignissim. Vivamus commodo nibh eget nibh tempus a suscipit neque elementum. Vestibulum non rhoncus libero. Mauris interdum ullamcorper euismod. In nec lacus ac metus consequat posuere. Aliquam erat volutpat. Ut lacus lectus, mollis vel elementum ac, eleifend quis risus. <a href="#">Proin ac magna lacus</a>, ac euismod felis.</p>
					<p>Morbi eget urna diam. Integer eget ipsum lacus. Morbi egestas mi at nisi adipiscing condimentum ac eu massa. Proin fringilla tempor enim, a pretium odio adipiscing eget. Integer eget urna sed magna vulputate imperdiet.</p>
				</div>
			</div>
		</div>
		<div id="twocolumns">
			<div id="content">
				<h2>Who We Are?</h2>
				<p>Ut lacus lectus, mollis vel elementum ac, eleifend quis risus. Ac euismod felis.Morbi eget urna diam. Integer eget ipsum lacus. Morbi egestas mi at nisi adipiscing condimentum ac eu massa. Proin fringilla tempor enim, a pretium odio adipiscing eget. Integer eget urna sed magna vulputate imperdiet. magna vulputate imperdiet. </p>
				<ul class="person-list">
					<li>
						<strong class="name">John Doe</strong>
						<span class="profession">Software Architect</span>
						<div class="image">
							<img class="large" src="{% static 'shop/images/bg-avatar.jpg'%}" alt="image description" width="180" height="91" />
							<div class="hotspot"></div>
						</div>
						<p>Donec ullamcorper, nisi in blandit scelerisque, tortor.</p>
					</li>
					<li>
						<strong class="name">Andre Talkman</strong>
						<span class="profession">Multimedia designer</span>
						<div class="image">
							<img class="large" src="{% static 'shop/images/bg-avatar.jpg'%}" alt="image description" width="180" height="91" />
							<div class="hotspot"></div>
						</div>
						<p>Maecenas ut mauris urna. Donec ullamcorper, nisi in blandit.</p>
					</li>
					<li>
						<strong class="name">Tony Sunset</strong>
						<span class="profession">Software Developer</span>
						<div class="image">
							<img class="large" src="{% static 'shop/images/bg-avatar.jpg'%}" alt="image description" width="180" height="91" />
							<div class="hotspot"></div>
						</div>
						<p>Donec est nisl, condimentum id venenatis vitae, pellentesque.</p>
					</li>
				</ul>
			</div>
			<div id="sidebar">
				<h2>Testimonials</h2>
				<div class="side-box">
					<div class="side-holder">
						<div class="side-frame">
							<div class="cite-holder">
								<div class="cite-box">
									<blockquote>
										<div>
											<q>Web design is the most valuable business resource we have ever purchased. Your company is great to work with.</q>
											<cite>Paul Rogers</cite>
										</div>
									</blockquote>
									<span class="quote-top">&nbsp;</span>
									<span class="quote-bottom">&nbsp;</span>
								</div>
								<div class="cite-box last-box">
									<blockquote>
										<div>
											<q>I can’t tell you how happy I am with web design. To be honest you cannot beat the services or the people that I have dealt with.</q>
											<cite>Kate Turner</cite>
										</div>
									</blockquote>
									<span class="quote-top">&nbsp;</span>
									<span class="quote-bottom">&nbsp;</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}