{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} &ndash; RegExShop </title>

    <!-- Custom JS -->
    <script type="text/javascript" src="{% static 'shop/js/jquery-1.4.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'shop/js/loopedslider.js' %}"></script>
	<script type="text/javascript" src="{% static 'shop/js/looped-options.js' %}"></script>
	<script type="text/javascript" src="{% static 'shop/js/slideBlock.js' %}"></script>
	<script type="text/javascript" src="{% static 'shop/js/latte.js' %}"></script>
	<script type="text/javascript" src="{% static 'shop/js/jquery.roundabout.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'shop/js/loader.js' %}"></script>
	<script type="text/javascript" src="{% static 'shop/js/ddsmoothmenu.js' %}"></script>
	<script type="text/javascript" src="{% static 'shop/js/cufon.js' %}"></script>
	<script type="text/javascript" src="{% static 'shop/js/cufon-fonts.js' %}"></script>
	<script type="text/javascript" src="{% static 'shop/js/cufon-settings.js' %}"></script>
	<script type="text/javascript" src="{% static 'shop/js/input.js' %}"></script>
    <script type="text/javascript" src="{% static 'shop/js/form.js'%}"></script>
    <script type="text/javascript" src="{% static 'shop/js/popup.js'%}"></script>
	<script type="text/javascript" src="{% static 'shop/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'shop/js/jquery.roundabout.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'shop/js/lightbox.js'%}"></script>
    <script type="text/javascript" src="{% static 'shop/js/prototype.js'%}"></script>
	<script type="text/javascript" src="{% static 'shop/js/scriptaculous.js?load=effects,builder'%}"></script>
    <!-- Bootstrap core CSS -->
    {# <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet">#}

    <!-- Custom CSS -->
    <link href="{% static 'shop/style.css' %}" rel="stylesheet">

  </head>

<body>	<!-- start header -->
	<div class="header-wrap">
		<div id="header">
			<div class="header-holder">
				<div class="wrap">
					<h1 class="logo"><a href="../">RegExShop</a></h1>
					<ul id="nav" class="ddsmoothmenu">
						<li class="active"><a href="../" class="home">Home</a></li>
						<li><a href="../about/"><span><em>About</em></span></a></li>
						<li><a href="blog.html"><span><em>Blog</em></span></a></li>
						<li><a href="../market/"><span><em>Market</em></span></a></li>
						<li><a href="../contacts/"><span><em>Contacts</em></span></a></li>
					</ul>
				</div>
				<div class="form-wrap">
					<form action="#" class="search-form">
						<fieldset>
							<span class="text-wrap"><input type="text" class="text" value="Start searching..." /></span>
							<input type="submit" class="submit" value="Start searching..." />
						</fieldset>
					</form>
					<form action="#" class="login-form">
						<fieldset>
							<input type="button" class="button sign-up" value="Sign up" />
							<input type="button" class="button sign-in" value="Sign in" />
							<span class="text-wrap"><input type="text" class="text" value="Password..." /></span>
							<span class="text-wrap"><input type="text" class="text" value="Login..." /></span>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
	<!-- start footer -->
	<div id="footer">
		<div class="footer-wrap">
			<div class="footer-holder">
				<div class="threecolumns">
					<div class="column">
						<h3>Twittroll</h3>
						<div class="tweet-box">
							<p><a href="#">@chitlesh</a> Go to the page for the category you want and tack /feed/ on the end of the URL. </p>
							<span class="date">5:28 PM Nov 17th via HootSuite</span>
						</div>
						<div class="tweet-box">
							<p>Happy birthday to WordPress core UI contributor <a href="#">@johnonolan</a> May the coming year bring you better tabs for the Themes screen. :) </p>
							<span class="date">11:51 PM Nov 8th via CoTweet</span>
						</div>
						<div class="tweet-box">
							<p><a href="#">@spork_ethan</a> That is not put out by WordPress.</p>
							<span class="date">9:00 AM Nov 8th via CoTweet in reply to spork_ethan</span>
						</div>
					</div>
					<div class="column">
						<h3>Newsteller</h3>
						<p>Duis vitae facilisis sapien. Sed vel porta erat. Quisque libero libero.</p>
						<form action="#" class="subscribe-form">
							<fieldset>
								<span class="text-wrap"><input type="text" class="text" value="E-mail Address" /></span>
								<input type="submit" class="submit" value="Subscribe now!" />
							</fieldset>
						</form>
						<h3>Get Social</h3>
						<ul class="social-list">
							<li><a href="#" class="social1 fadeThis"><span class="hover">social1</span></a></li>
							<li><a href="#" class="social2 fadeThis"><span class="hover">sosial2</span></a></li>
							<li><a href="#" class="social3 fadeThis"><span class="hover">sosial3</span></a></li>
							<li><a href="#" class="social4 fadeThis"><span class="hover">sosial4</span></a></li>
							<li><a href="#" class="social5 fadeThis"><span class="hover">sosial5</span></a></li>
							<li><a href="#" class="social6 fadeThis"><span class="hover">sosial6</span></a></li>
							<li><a href="#" class="social7 fadeThis"><span class="hover">sosial7</span></a></li>
							<li><a href="#" class="social8 fadeThis"><span class="hover">sosial8</span></a></li>
						</ul>
					</div>
					<div class="column">
						<h3>Contact Us</h3>
						<dl class="contact-list">
							<dt>Address:</dt>
							<dd>221B BakerStreet</dd>
							<dt>Phone:</dt>
							<dd>+44 20 7224 3688</dd>
							<dt>Fax:</dt>
							<dd>+44 20 7224 3688</dd>
							<dt>E-mail:</dt>
							<dd><a href="mailto:&#108;&#111;&#110;&#100;&#111;&#110;&#108;&#105;&#110;&#107;&#115;&#064;&#098;&#116;&#099;&#111;&#110;&#110;&#101;&#099;&#116;&#046;&#099;&#111;&#109;">&#108;&#111;&#110;&#100;&#111;&#110;&#108;&#105;&#110;&#107;&#115;&#064;&#098;&#116;&#099;&#111;&#110;&#110;&#101;&#099;&#116;&#046;&#099;&#111;&#109;</a></dd>
						</dl>
						<div class="map-holder">
							<a href="#"><img class="large" src="{% static 'shop/images/map.jpg'%}" alt="image description" width="262" height="109" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copy-wrap">
			<div class="copy-holder">
				<span class="copy">Copyright &copy; Synoptic 2010. All Rights Reserved</span>
				<a href="#" class="design">made by puzz1e</a>
			</div>
		</div>
	</div>
</body>




</html>
